<div class="row">
    <a class="btn btn-outline-success btn-lg text-left" routerLink="/empleados/nuevo">Nuevo <i class="fa fa-user-plus"></i></a>
</div>
<br>
<table class="table table-hover">
    <thead>
      <tr>
        <th *ngFor="let columna of nombreColumnas">{{columna}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let empleado of datosEmpleados">
        <td scope="row" >{{empleado.idEmpleado}}</td>
        <td scope="row" >{{empleado.desNombre}}</td>
        <td scope="row" >{{empleado.desApellido}}</td>
        <td scope="row" >{{empleado.numEdad}}</td>
        <td scope="row" >{{empleado.idRol}}</td>
        <td scope="row" >{{empleado.desRol}}</td>
        <td>
            <swal
                #swalborrarEmpleado
                title="¿Deseas eliminar a {{ empleado.desNombre }}?"
                text="Tambien se eliminarán sus movimientos"
                type="warning"
                [options]="{ confirmButtonText: 'Eliminar',cancelButtonText: 'Cancelar' }"
                [showCancelButton]="true"
                [focusCancel]="true"
                (confirm)="eliminarEmpleado(empleado)">
            </swal> 
            <button type="button" class="btn btn-default" >
                <i class="fa fa-trash-o text-danger" [swal]="swalborrarEmpleado"></i>
            </button>
            
            <button type="button" class="btn btn-default">
              <i class="fa fa-pencil-square-o text-primary"></i>
            </button>
              
        </td>
      </tr>
    </tbody>
  </table>