
<h5 class="card-title">{{tituloForm}}</h5>
<div class="row">
	<div class="col-lg-3"></div>
	<div class="col-lg-6">
	<form [formGroup]="formEmpleados" novalidate autocomplete="off">
		
		<div class="form-row">
      <label>Número</label>
      <input type="text" class="form-control" placeholder="Número de empleado" formControlName="idEmpleado">
			<small class="form-text text-danger" 
							*ngIf="formEmpleados.get('idEmpleado').getError('required') && formEmpleados.get('idEmpleado').dirty" >
							El numero de empleado es requerido</small>
		</div>
		<div class="form-row">
			<label>Nombre</label>
			<input #name type="text" class="form-control" placeholder="Nombre de empleado" formControlName="nomEmpleado">
			<small class="form-text text-danger" 
							*ngIf="formEmpleados.get('nomEmpleado').getError('required') && formEmpleados.get('nomEmpleado').dirty" >	
							El nombre de empleado es requerido</small>
		</div>

    <div class="form-row">
        <label>Apellido</label>
        <input type="text" class="form-control" placeholder="Apellido" formControlName="apellidoEmpleado">
				<small class="form-text text-danger" 
								*ngIf="formEmpleados.get('apellidoEmpleado').getError('required') && formEmpleados.get('apellidoEmpleado').dirty" >
								El apellido de empleado es requerido</small>
		</div>
		
		<br>
		<div class="form-row">
			<div class="col-md-5 border rounded">
				<div class="row">
					<div class="col-md-3">
						<label>Rol:</label>
					</div>
					<div class="col-md-9">
						<div *ngFor="let rol of rolesEmpleados" class="text-left">
							<input type="radio" name="Roles" 
							[checked]="rol.idRol === formEmpleados.get('idRol').value" 
							[value]="rol.idRol" 
							(change)="onChangeRol(rol)">
							<span>{{rol.desRol}}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-5 border rounded">
				<div class="row">
					<div class="col-md-3">
						<label>Tipo:</label>
					</div>
					<div class="col-md-9">
						<div *ngFor="let tipo of tiposEmpleados" class="text-left">
							<input type="radio" name="Tipos"
							[checked]="tipo.idTipo === formEmpleados.get('idTipo').value" 
							[value]="tipo.idTipo" 
							(change)="onChanceTipo(tipo)">
							<span>{{tipo.desTipoEmpleado }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<br>
		<div class="form-row">
			<div class="col-xs-3 col-sm-3 col-md-3"></div>
			<div class="col-xs-3 col-sm-3 col-md-3">
				<button type="button" (click)="guardarEmpleado()" class="btn btn-outline-primary" [disabled]="formEmpleados.invalid">Guardar</button>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3" >
				<a class="btn btn-outline-secondary" routerLink="/empleados">Cancelar</a>
			</div>
		</div>

	</form>
</div>
</div>